//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

.prototype-selector-card {
  border: 1px solid #b1b4b6;
  padding: 20px;
  margin-bottom: 24px;
  background-color: #ffffff;
}

.prototype-selector-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
