{% extends "app/part1/v1/views/layouts/main.html" %}

{% set pageName="Sign in" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in</h1>

    <p class="govuk-body">Sign in to your DEFRA fish imports account to continue.</p>

    <form action="{{ basePath }}/sign-in" method="post" novalidate>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="email">
          Email address
        </label>
        <input class="govuk-input" id="email" name="email" type="email" autocomplete="email" spellcheck="false"
          value="{{ data['email'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="password">
          Password
        </label>
        <input class="govuk-input" id="password" name="password" type="password" autocomplete="current-password">
      </div>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Forgot your password?</a>
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Sign in
      </button>

    </form>

    <p class="govuk-body">Don't have an account? <a href="#" class="govuk-link">Create an account</a></p>

  </div>
</div>

{% endblock %}
