{% extends "layouts/main.html" %}
{% from "part2/inspection/components/document-reference-list.njk" import documentReferenceList %}
{% set pageName = "Check the documents" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if hasErrors %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}
    <form method="post">
      <h1 class="govuk-heading-l">Check the documents</h1>

      <h2 class="govuk-heading-m">Documents to check</h2>
      {{ documentReferenceList(documentReferenceGroups, true) }}
      <p class="govuk-body"><a class="govuk-link" href="/inspection/{{ inspectionReference }}/documents">View document comparison and assessment summary</a></p>

      {% if inspectionNotification.warningText %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">Warning: {{ inspectionNotification.warningText }}</strong>
        </div>
      {% endif %}

      <div class="govuk-form-group{% if errorMap['documentary-check-outcome'] %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Documentary check outcome</legend>
          {% if errorMap['documentary-check-outcome'] %}<p class="govuk-error-message">{{ errorMap['documentary-check-outcome'] }}</p>{% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome" name="documentary-check-outcome" type="radio" value="satisfactory" data-aria-controls="conditional-satisfactory-comments" {{ checked("documentary-check-outcome", "satisfactory") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome">Satisfactory</label></div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-satisfactory-comments">
              <div class="govuk-form-group{% if errorMap['documentary-check-comments'] %} govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="documentary-check-comments">Comments</label>
                {% if errorMap['documentary-check-comments'] %}<p class="govuk-error-message">{{ errorMap['documentary-check-comments'] }}</p>{% endif %}
                <textarea class="govuk-textarea" id="documentary-check-comments" name="documentary-check-comments" rows="4">{{ data['documentary-check-comments'] }}</textarea>
              </div>
            </div>
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome-2" name="documentary-check-outcome" type="radio" value="satisfactory-following-intervention" {{ checked("documentary-check-outcome", "satisfactory-following-intervention") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome-2">Satisfactory - following intervention</label></div>
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome-3" name="documentary-check-outcome" type="radio" value="requires-intervention" data-aria-controls="conditional-documentary-intervention" {{ checked("documentary-check-outcome", "requires-intervention") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome-3">Requires Intervention</label></div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-documentary-intervention">
              <div class="govuk-form-group{% if errorMap['documentary-intervention'] %} govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend">Select an intervention</legend>
                  {% if errorMap['documentary-intervention'] %}<p class="govuk-error-message">{{ errorMap['documentary-intervention'] }}</p>{% endif %}
                  <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-intervention" name="documentary-intervention" type="radio" value="request-information" {{ checked("documentary-intervention", "request-information") }}><label class="govuk-label govuk-radios__label" for="documentary-intervention">Request additional information from Importer</label></div>
                    <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-intervention-2" name="documentary-intervention" type="radio" value="referred-to-mmo" {{ checked("documentary-intervention", "referred-to-mmo") }}><label class="govuk-label govuk-radios__label" for="documentary-intervention-2">Referred to MMO</label></div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome-4" name="documentary-check-outcome" type="radio" value="not-satisfactory" {{ checked("documentary-check-outcome", "not-satisfactory") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome-4">Not Satisfactory</label></div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
