{% extends "app/part2/v2/views/layouts/main.html" %}
{% from "app/part2/v2/views/inspection/components/document-reference-list.njk" import documentReferenceList %}
{% set pageName = "Review supporting documents" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if hasErrors %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}
    {% endif %}
    <form method="post">
      <h1 class="govuk-heading-l">Review supporting documents</h1>

      <h2 class="govuk-heading-m">Documents to check</h2>
      {{ documentReferenceList(documentReferenceGroups) }}

      {% if inspectionNotification.warningText %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">Warning: {{ inspectionNotification.warningText }}</strong>
        </div>
      {% endif %}

      <div class="govuk-form-group{% if errorMap['documentary-check-outcome'] %} govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Documentary check outcome</legend>
          <div class="govuk-hint">Select the outcome of this documentary check.</div>
          {% if errorMap['documentary-check-outcome'] %}<p class="govuk-error-message">{{ errorMap['documentary-check-outcome'] }}</p>{% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome" name="documentary-check-outcome" type="radio" value="satisfactory" {{ checked("documentary-check-outcome", "satisfactory") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome">Satisfactory</label></div>
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome-2" name="documentary-check-outcome" type="radio" value="satisfactory-following-intervention" {{ checked("documentary-check-outcome", "satisfactory-following-intervention") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome-2">Satisfactory following intervention</label></div>
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome-3" name="documentary-check-outcome" type="radio" value="requires-intervention" data-aria-controls="conditional-documentary-intervention" {{ checked("documentary-check-outcome", "requires-intervention") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome-3">Requires intervention</label></div>
            <div class="govuk-radios__item"><input class="govuk-radios__input" id="documentary-check-outcome-4" name="documentary-check-outcome" type="radio" value="not-satisfactory" {{ checked("documentary-check-outcome", "not-satisfactory") }}><label class="govuk-label govuk-radios__label" for="documentary-check-outcome-4">Not satisfactory</label></div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-documentary-intervention">
        <div class="govuk-form-group{% if errorMap['documentary-intervention'] %} govuk-form-group--error{% endif %}">
          <label class="govuk-label govuk-label--s" for="documentary-intervention">Intervention action</label>
          <div class="govuk-hint" id="documentary-intervention-hint">Select what should happen next.</div>
          {% if errorMap['documentary-intervention'] %}<p class="govuk-error-message">{{ errorMap['documentary-intervention'] }}</p>{% endif %}
          <select class="govuk-select{% if errorMap['documentary-intervention'] %} govuk-select--error{% endif %}" id="documentary-intervention" name="documentary-intervention" aria-describedby="documentary-intervention-hint">
            <option value="">Select action</option>
            <option value="request-information"{% if data['documentary-intervention'] == 'request-information' %} selected{% endif %}>Request additional information from importer</option>
            <option value="referred-to-mmo"{% if data['documentary-intervention'] == 'referred-to-mmo' %} selected{% endif %}>Refer to MMO</option>
          </select>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="documentary-check-comments">Comments</label>
        <div class="govuk-hint" id="documentary-check-comments-hint">Add comments about the decision, if needed.</div>
        <textarea class="govuk-textarea" id="documentary-check-comments" name="documentary-check-comments" rows="4" aria-describedby="documentary-check-comments-hint">{{ data['documentary-check-comments'] }}</textarea>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save documentary check</button>
    </form>
  </div>
</div>
{% endblock %}
