{% extends "app/part1/v2/views/layouts/main.html" %}

{% set pageName="There is a problem with the documents you uploaded" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Import notification</span>
    <h1 class="govuk-heading-l">There is a problem with the documents you uploaded</h1>

    <h2 class="govuk-heading-m">We could not analyse 3 documents</h2>
    <p class="govuk-body">The service could not extract information from 3 of the documents you uploaded.</p>

    <h3 class="govuk-heading-s">This might be because:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>the files are damaged</li>
      <li>the files are password protected</li>
      <li>the files could not be read</li>
      <li>the image quality is too low</li>
    </ul>

    <p class="govuk-body">Try uploading the documents again. If the same problem happens, you can continue and enter the missing information manually.</p>

    <div class="govuk-button-group">
      <a href="{{ basePath }}/upload-documents" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Upload documents again
      </a>
      <a href="{{ basePath }}/importer-details" class="govuk-link">Continue manually</a>
    </div>
  </div>
</div>

{% endblock %}
