{% extends "layouts/main.html" %}

{% set pageName="Arrival details" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Import notification</span>
    <h1 class="govuk-heading-l">Where are you importing to?</h1>

    <form action="/arrival-details" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="destination-port">
          Destination port
        </label>
        <select class="govuk-select" id="destination-port" name="destination-port">
          <option value="">Select a destination port</option>
          <option value="Dover" {% if data['destination-port'] == 'Dover' %}selected{% endif %}>Dover</option>
          <option value="Felixstowe" {% if data['destination-port'] == 'Felixstowe' %}selected{% endif %}>Felixstowe</option>
          <option value="Grimsby" {% if data['destination-port'] == 'Grimsby' %}selected{% endif %}>Grimsby</option>
          <option value="Hull" {% if data['destination-port'] == 'Hull' %}selected{% endif %}>Hull</option>
          <option value="Immingham" {% if data['destination-port'] == 'Immingham' %}selected{% endif %}>Immingham</option>
          <option value="Liverpool" {% if data['destination-port'] == 'Liverpool' %}selected{% endif %}>Liverpool</option>
          <option value="Portsmouth" {% if data['destination-port'] == 'Portsmouth' %}selected{% endif %}>Portsmouth</option>
          <option value="Tilbury" {% if data['destination-port'] == 'Tilbury' %}selected{% endif %}>Tilbury</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="arrival-date-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Expected date of arrival
          </legend>
          <div id="arrival-date-hint" class="govuk-hint">
            For example, 27 3 2026
          </div>
          <div class="govuk-date-input" id="arrival-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="arrival-date-day">Day</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="arrival-date-day" name="arrival-date-day" type="text" inputmode="numeric" value="{{ data['arrival-date-day'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="arrival-date-month">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="arrival-date-month" name="arrival-date-month" type="text" inputmode="numeric" value="{{ data['arrival-date-month'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="arrival-date-year">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="arrival-date-year" name="arrival-date-year" type="text" inputmode="numeric" value="{{ data['arrival-date-year'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
