{% extends "layouts/main.html" %}

{% set pageName="Notification submitted" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">Notification submitted</h1>
      <div class="govuk-panel__body">
        Notification reference<br>
        <strong>{{ data['reference-number'] }}</strong>
      </div>
    </div>

    <h2 class="govuk-heading-m">Notification summary</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Destination port</dt>
        <dd class="govuk-summary-list__value">{{ data['destination-port'] or 'Grimsby' }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Arrival date</dt>
        <dd class="govuk-summary-list__value">{{ data['arrival-date-day'] }}/{{ data['arrival-date-month'] }}/{{ data['arrival-date-year'] }}</dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Confirmation message</h2>
    <p class="govuk-body">Your notification has been sent to the relevant authority for review.</p>

    <h2 class="govuk-heading-m">Next steps</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Keep this reference number with your consignment records.</li>
      <li>Provide the reference if you are contacted by inspectors.</li>
      <li>Submit a new notification if consignment details change.</li>
    </ul>

    <p class="govuk-body">
      <a href="/" class="govuk-link">Return to prototype selector</a>
    </p>
  </div>
</div>

{% endblock %}
