{% extends "layouts/main.html" %}

{% set pageName="Declaration" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Import notification</span>
    <h1 class="govuk-heading-l">Confirm your notification</h1>

    <p class="govuk-body">Review the statements below before we continue.</p>

    <form action="/declaration" method="post">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="catch-certificates-confirmed" name="catch-certificates-confirmed" type="checkbox" value="confirmed" {% if data['catch-certificates-confirmed'] == 'confirmed' %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="catch-certificates-confirmed">
              I confirm that I have uploaded all Catch Certificates for this import.
            </label>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-m">Documents not uploaded</h2>

      <p class="govuk-body">You did not upload a Processing Statement or a Non-Manipulation Declaration.</p>

      <p class="govuk-body">If either document is not required for this import, confirm this below.</p>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="processing-statement-not-required" name="processing-statement-not-required" type="checkbox" value="confirmed" {% if data['processing-statement-not-required'] == 'confirmed' %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="processing-statement-not-required">
              I confirm that a Processing Statement is not required for this import.
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="non-manipulation-declaration-not-required" name="non-manipulation-declaration-not-required" type="checkbox" value="confirmed" {% if data['non-manipulation-declaration-not-required'] == 'confirmed' %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="non-manipulation-declaration-not-required">
              I confirm that a Non-Manipulation Declaration is not required for this import.
            </label>
          </div>
        </div>
      </div>

      <p class="govuk-body">You are responsible for ensuring all required documents have been provided.</p>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
