{% extends "layouts/main.html" %}

{% set pageName="Declaration" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Import notification</span>
    <h1 class="govuk-heading-l">Declaration</h1>

    <p class="govuk-body">Before submitting this notification, confirm that all required supporting documents have been uploaded.</p>

    <form action="/declaration" method="post">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="declaration-confirmed" name="declaration-confirmed" type="checkbox" value="confirmed" {% if data['declaration-confirmed'] == 'confirmed' %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="declaration-confirmed">
              I confirm that I have uploaded all Processing Statements and Non-Manipulation Declarations required for this notification.
            </label>
          </div>
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Submit notification
      </button>
    </form>
  </div>
</div>

{% endblock %}
