{% extends "layouts/main.html" %}

{% set pageName="Document extraction detail" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="/extraction-dashboard-f" class="govuk-back-link">Back to dashboard</a>

    <span class="govuk-caption-l">Document {{ data['current-document-index'] or '1' }} of 20</span>
    <h1 class="govuk-heading-l">{{ data['f-detail-document-reference'] or 'CATCH.CC.IS.2026.000148' }}</h1>

    <!-- Document Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Document information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Document type</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-document-type'] or 'Catch Certificate' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Document/certificate reference</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-document-reference'] or 'CATCH.CC.IS.2026.000148' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Vessel Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Vessel information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Vessel name</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-vessel-name'] or 'FV Nordic Star' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Flag state</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-flag-state'] or 'Iceland (IS)' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">IMO number</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-imo'] or '9876543' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">95%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Species Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Species information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Species</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-species'] or 'Atlantic cod (Gadus morhua)' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">99%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Scientific name</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-scientific-name'] or 'Gadus morhua' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">99%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Commodity Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Commodity information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Product code</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-product-code'] or '03020200' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">CN code</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-cn-code'] or '0302.11.20' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">96%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Catch Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Catch information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">FAO catch area</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-fao-area'] or 'FAO Area 27' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">98%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Catch date from</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-catch-date-from'] or '15 June 2026' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Catch date to</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-catch-date-to'] or '28 June 2026' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Weight Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Weight information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Catch weight</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-catch-weight'] or '2,500 kg' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Net weight</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-net-weight'] or '2,450 kg' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">96%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Commercial Parties Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Commercial parties</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Importer name</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-importer-name'] or 'Nordic Sea Imports Ltd' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Importer EORI</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-importer-eori'] or 'GB123456789000' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">98%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Exporter name</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-exporter-name'] or 'Samherji Export Ltd' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Exporter country</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-exporter-country'] or 'Iceland' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">96%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Processing Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Processing information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Processing statement reference</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-processing-ref'] or 'PS-IS-2026-01149' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Processing date</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-processing-date'] or '30 June 2026' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">96%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Consignment Information Card -->
    <div class="govuk-summary-card govuk-!-margin-bottom-9">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Consignment information</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Shipment reference</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-shipment-ref'] or 'SHIP-2026-00541' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">96%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Transport mode</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-transport-mode'] or 'Sea vessel' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">97%</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Destination port</dt>
            <dd class="govuk-summary-list__value">{{ data['f-detail-destination-port'] or 'Grimsby, UK' }}</dd>
            <dd class="govuk-summary-list__actions">
              <strong class="govuk-tag govuk-tag--green">95%</strong>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <!-- Document Navigation -->
    <div class="govuk-button-group govuk-!-margin-bottom-9">
      <form action="/extraction-detail-f" method="post" style="display: inline;">
        <input type="hidden" name="action" value="previous">
        <button class="govuk-button govuk-button--secondary" type="submit">
          Previous document
        </button>
      </form>
      <form action="/extraction-detail-f" method="post" style="display: inline;">
        <input type="hidden" name="action" value="next">
        <button class="govuk-button" type="submit">
          Next document
        </button>
      </form>
    </div>

  </div>
</div>

{% endblock %}
