{% extends "layouts/main.html" %}

{% set pageName="Document extraction dashboard" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Import notification</span>
    <h1 class="govuk-heading-l">Document extraction dashboard</h1>
  </div>
</div>

<!-- Summary metrics -->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-one-fifth">
    <div class="govuk-!-padding-3" style="background-color: #f3f2f1; border-left: 4px solid #005ea5;">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Documents uploaded</h3>
      <p class="govuk-heading-m govuk-!-margin-bottom-0">20</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-fifth">
    <div class="govuk-!-padding-3" style="background-color: #f3f2f1; border-left: 4px solid #005ea5;">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Documents analysed</h3>
      <p class="govuk-heading-m govuk-!-margin-bottom-0">20</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-fifth">
    <div class="govuk-!-padding-3" style="background-color: #f3f2f1; border-left: 4px solid #28a197;">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Complete</h3>
      <p class="govuk-heading-m govuk-!-margin-bottom-0">16</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-fifth">
    <div class="govuk-!-padding-3" style="background-color: #f3f2f1; border-left: 4px solid #f47738;">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Needs review</h3>
      <p class="govuk-heading-m govuk-!-margin-bottom-0">3</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-fifth">
    <div class="govuk-!-padding-3" style="background-color: #f3f2f1; border-left: 4px solid #d4351c;">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Manual check</h3>
      <p class="govuk-heading-m govuk-!-margin-bottom-0">1</p>
    </div>
  </div>
</div>

<!-- Documents table -->
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <div class="govuk-table-responsive">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Reference</th>
            <th scope="col" class="govuk-table__header">Document number</th>
            <th scope="col" class="govuk-table__header">Document type</th>
            <th scope="col" class="govuk-table__header">Confidence</th>
            <th scope="col" class="govuk-table__header">Fields extracted</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">View</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          
          <!-- Complete documents (16) -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-001</td>
            <td class="govuk-table__cell">CATCH.CC.IS.2026.000148</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">97%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=1">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-002</td>
            <td class="govuk-table__cell">CATCH.CC.NO.2026.000527</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">96%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=2">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-003</td>
            <td class="govuk-table__cell">CATCH.PS.IS.2026.001147</td>
            <td class="govuk-table__cell">Processing Statement</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">98%</strong></td>
            <td class="govuk-table__cell">9/9</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=3">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-004</td>
            <td class="govuk-table__cell">CATCH.NMD.FR.2026.000842</td>
            <td class="govuk-table__cell">Non-Manipulation Declaration</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">99%</strong></td>
            <td class="govuk-table__cell">8/8</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=4">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-005</td>
            <td class="govuk-table__cell">CATCH.CC.ES.2026.000195</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">95%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=5">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-006</td>
            <td class="govuk-table__cell">CATCH.CC.PT.2026.003241</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">94%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=6">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-007</td>
            <td class="govuk-table__cell">CATCH.PS.NO.2026.000834</td>
            <td class="govuk-table__cell">Processing Statement</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">97%</strong></td>
            <td class="govuk-table__cell">9/9</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=7">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-008</td>
            <td class="govuk-table__cell">CATCH.CC.IS.2026.000149</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">96%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=8">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-009</td>
            <td class="govuk-table__cell">CATCH.NMD.NO.2026.000751</td>
            <td class="govuk-table__cell">Non-Manipulation Declaration</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">98%</strong></td>
            <td class="govuk-table__cell">8/8</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=9">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-010</td>
            <td class="govuk-table__cell">CATCH.CC.NL.2026.000562</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">95%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=10">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-011</td>
            <td class="govuk-table__cell">CATCH.PS.ES.2026.000463</td>
            <td class="govuk-table__cell">Processing Statement</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">97%</strong></td>
            <td class="govuk-table__cell">9/9</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=11">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-012</td>
            <td class="govuk-table__cell">CATCH.CC.DK.2026.000398</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">96%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=12">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-013</td>
            <td class="govuk-table__cell">CATCH.CC.LT.2026.000674</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">94%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=13">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-014</td>
            <td class="govuk-table__cell">CATCH.NMD.PT.2026.000518</td>
            <td class="govuk-table__cell">Non-Manipulation Declaration</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">99%</strong></td>
            <td class="govuk-table__cell">8/8</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=14">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-015</td>
            <td class="govuk-table__cell">CATCH.CC.SE.2026.000841</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">97%</strong></td>
            <td class="govuk-table__cell">10/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=15">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-016</td>
            <td class="govuk-table__cell">CATCH.PS.DK.2026.000756</td>
            <td class="govuk-table__cell">Processing Statement</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">96%</strong></td>
            <td class="govuk-table__cell">9/9</td>
            <td class="govuk-table__cell"><strong class="govuk-tag">Complete</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=16">View</a></td>
          </tr>

          <!-- Needs Review documents (3) -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-017</td>
            <td class="govuk-table__cell">CATCH.CC.IS.2026.000150</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">78%</strong></td>
            <td class="govuk-table__cell">8/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Needs review</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=17">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-018</td>
            <td class="govuk-table__cell">CATCH.PS.NO.2026.000835</td>
            <td class="govuk-table__cell">Processing Statement</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">82%</strong></td>
            <td class="govuk-table__cell">7/9</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Needs review</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=18">View</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-019</td>
            <td class="govuk-table__cell">CATCH.NMD.FR.2026.000843</td>
            <td class="govuk-table__cell">Non-Manipulation Declaration</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">75%</strong></td>
            <td class="govuk-table__cell">6/8</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Needs review</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=19">View</a></td>
          </tr>

          <!-- Manual Check Required (1) -->
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">DOC-020</td>
            <td class="govuk-table__cell">CATCH.CC.XX.2026.000999</td>
            <td class="govuk-table__cell">Catch Certificate</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">45%</strong></td>
            <td class="govuk-table__cell">4/10</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Manual check</strong></td>
            <td class="govuk-table__cell"><a class="govuk-link" href="/extraction-detail-f?doc=20">View</a></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Back and continue buttons -->
<div class="govuk-button-group">
  <form action="/extraction-dashboard-f" method="post" style="display: inline;">
    <button class="govuk-button govuk-button--secondary" type="submit" name="button" value="Back">
      Back to summary
    </button>
  </form>
  <form action="/extraction-dashboard-f" method="post" style="display: inline;">
    <button class="govuk-button" type="submit" name="button" value="Continue">
      Save and continue
    </button>
  </form>
</div>

{% endblock %}
