{% extends "layouts/main.html" %}

{% set pageName="Analysing uploaded documents" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Import notification</span>
    <h1 class="govuk-heading-l">We are analysing your uploaded documents</h1>
    <p class="govuk-body">Please wait while we extract information from your files. This can take a few moments.</p>
    <div class="govuk-inset-text">
      We are checking your uploaded documents and preparing a structured review for you.
    </div>
    <noscript>
      <p class="govuk-body">
        <a href="/review-extraction-{{ data['extraction-variant'] or 'a' }}" class="govuk-link">Continue to review extracted information</a>
      </p>
    </noscript>
  </div>
</div>

<script>
  setTimeout(function () {
    window.location.href = '/review-extraction-{{ data["extraction-variant"] or "a" }}'
  }, 2200)
</script>

{% endblock %}
