{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set serviceName = "Defra Fish Imports prototypes" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        text: "Latest",
        href: "/",
        current: not isArchive
      },
      {
        text: "Archive",
        href: "/archive",
        current: isArchive
      }
    ]
  }) }}
{% endblock %}
